*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(199, 199, 199);
}
button {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(150, 148, 162);
  border-radius: 5% 5% 20% 20%;
  color:rgb(240, 240, 250);
}

#multiplication { grid-area: multiplication; }
#division { grid-area: division; }
#addition { grid-area: addition; }
#subtraction { grid-area: subtraction; }
#decimal { grid-area: decimal; }
#equals { grid-area: equals; }
#zero { grid-area: zero; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#delete { grid-area: delete; }
#clear { grid-area: clear; }
#calc-body {
  display: grid;
  grid-gap: 1vh;
  grid-template-areas:
      "screen screen screen screen screen"
      "seven eight nine delete clear"
      "four five six multiplication division"
      "one two three addition subtraction"
      ". zero decimal equals equals";
  grid-template-columns: repeat(5, minmax(1vh, 1fr));
  grid-template-rows: repeat(5, 1fr);
  height: 55vh;
  left: 50%;
  padding: 2vh;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
  font-size: 3vh;
}
#delete,
#clear {
  background-color: rgb(159, 78, 101);
}
#screen {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  grid-area: screen;
  height: 10vh;
  overflow: hidden;
  padding: 2vh;
  background-color: rgb(142, 153, 119);
  border-radius: 10px;
  border-style: ridge;
  border-width: thin;
  font-size: 3.8vh;
}

.inner-shadow {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}
.shadow {
  box-shadow: inset 0 0 10px #000000;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
}

button:hover {
  background-color: rgb(130, 129, 139);
}
button:active {
  transform: translateY(1px);
}
#delete:hover,
#clear:hover {
  background-color: rgb(139, 69, 89);
}

@media screen and (max-width: 280px) {
  #calc-body {
    height: 45vh;
    width: 40vh;
  }
}
@media screen and (min-height: 812px) {
  #calc-body {
    width: 45vh;
  }
}